<?xml version="1.0" encoding="utf-8" ?>
<multipleFileUpload
  xmlns='urn:MultipleFileUpload-schema'>
  <mediaFacory assembly="noerd.Umb.DataTypes.multipleFileUpload" namespace="noerd.Umb.DataTypes.multipleFileUpload" type="DefaultFileMediaFactory">
    <extensions>
      <!-- <ext>*</ext> below is a wildcard and specifies that this MediaFactory 
      will be used if no other MediaFactory has a matching extension. 
      
      If multible MediaFactories is configured with a <ext>*</ext> the first MediaFactory
      in document order will be use-->
      <ext>*</ext>
    </extensions>
  </mediaFacory>
  <mediaFacory assembly="noerd.Umb.DataTypes.multipleFileUpload" namespace="noerd.Umb.DataTypes.multipleFileUpload" type="DefaultImageMediaFactory">
    <extensions>
      <ext>jpeg</ext>
      <ext>jpg</ext>
      <ext>gif</ext>
      <ext>bmp</ext>
      <ext>png</ext>
      <ext>tiff</ext>
      <ext>tif</ext>
    </extensions>
  </mediaFacory>
</multipleFileUpload>